body {
    margin:0;
    padding: 0;
    font-family: Verdana;
}
.main {
    width:400px;
    margin: 225px auto 100px auto;
}
.total {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: auto;
    background-color: lightgrey;
}

.single {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.single p {
    text-align: center;
    line-height: 65px;
}
