body {
    margin:0;
    padding:0;
    font-family: Verdana;
}
.caption{
    text-align: center;
}
table{
    width:100%;
    border:1px solid #000000;
}
th,td{
    border:1px solid #000000;
}
.button {}
.button ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.button ul li{
    float:left;
    overflow: hidden;
}
.button ul li a{
    color:#000000;
    text-decoration: none;
    padding:3px;
}
.button ul li button:hover{
    cursor: pointer;
}